.crawl-content{
    .crawl-name{
        width: 60%;
        margin-left: 50px;
        margin-top: 30px;
        border: 1px solid black;
        display: flex;
        padding: 20px;
    .crawl-name-input{
        width: 400px;
        margin-right: 20px;
        border-radius: 5px;
    }
    }
    .crawl-first-request{
        width: 60%;
        margin-left: 50px;
        margin-top: 30px;
        border: 1px solid black;
        padding: 20px;
     .crawl-first-request-group{
        .crawl-first-request-group-get{
        border-radius: 5px;
        }
        .crawl-first-request-group-post{
            margin-left: 20px;
        border-radius: 5px;
        }
    }
    }
}