.crawl-first-request-get-item{
    margin-top:10px;
    padding: 10px;
    border:1px solid black;
    .crawl-first-request-get-url{
        margin-top:10px;
        display: flex;
        align-items: center;
        span{
            margin-left:10px;
            width: 100px;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 2px;
        }
        .crawl-first-request-get-url-input{
            width: 80%;
        border-radius: 5px;
        }
    }
    .crawl-first-request-get-num{
        margin-top:10px;
        display: flex;
        align-items: center;
        span{
            &:nth-child(1){
            margin-left:10px;
            width: 100px;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 2px;
        }
            &:nth-child(3){
                margin-left:20px;
                width: 100px;
                font-size: 16px;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
        .crawl-first-request-get-num-input{
            width: 20%;
        border-radius: 5px;

        }
    }
    .crawl-first-request-get-button{
        margin-top:10px;
        border-radius: 5px;
    }
    .crawl-first-request-get-debug-button{
        margin-left: 10px;
        background-Color:rgb(149,236,105);
        border:none;
        color:black;
        border-radius: 5px;
    }
}